doctype html
html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="/bundle.js")
    block head
      title Pacridon
  head
  .navbar.navbar-inverse.navbar-static-top
    .container
      .navbar-header
        a.navbar-brand(href="/") Pacridon

  .container
    block content